*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   
    font-family: 'Raleway', sans-serif;
}

#navbar{
    background-color:#be3144;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    position: fixed;
}
li{
    list-style: none;
}

a{
    color:#f0f0f0 ;
    margin: 18px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

#welcome-section{
    background:linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #f0f0f0;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.myname{
    font-size: 50px;
    margin-bottom: 15px;
}

#projects{
    background-color: #45557d;
    height: auto;
   
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    
}

.project-title1{

    color: #f0f0f0;
    text-decoration: underline;
    padding-top: 70px;
    text-align: center;
}


.project-image {
    height: 45vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0;
    display: block;
   
 
}

.project-title{
    
    background: #181719;
    color: #f0f0f0;
    margin-top: 0;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    
}

  .img-title{
      color:#181719;
  }

  .hover-effect:hover .img-title{
    color: #ff7f50;
  }
  

  @media (max-width: 576px){

    .projects{
        max-width: 470px;
    }
  }

  #about{
    background: #181719;
    min-height: 400px;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .h1-footer{
      font-size: 45px;
      padding: 8px;
  }

  .p-footer{
      font-style:italic ;
  }

  .fa-twitter{
      font-size: 16px;
  }
  .fa-github{
    font-size: 16px;
}
.social-media{
    display: flex;
   
   
}
div > a:hover{
    font-size: 1.2rem;
    transform: 0.3s cubic-bezier(0.39, 0.58, 0,-0.99);
    color: rgb(57, 137, 228);
}

hr{
    border: 2px solid #be3144;
}
footer{
    background-color:#181719; 
    color: #f0f0f0;
    /* padding-top: 20px; */
    text-align: center;
   
}
.copyright{
    padding: 20px 0;
}

